body {
    background: url("../assets/background.jpg");
    background-size: cover;
}
.main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 10%;
    margin-bottom: 15%;
    background-color: #0facdb;
    border-radius: 60px;
}

.main td {
    padding: 60px;
}

.title_table {
    width: 100%;
    margin-bottom: 3%;
}

.fields_table {
    width: 100%;
    max-width: 800px;
}

.title {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    font-size: large;
    font-weight: 400;
    text-align: center;
}

.title_data {
    width: 100%;
}

.first_field_row {
    padding-top: 35px !important;
}

input {
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.title_table td, .fields_table td {
    padding: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
}